//- chatblock-body.pug

-
  chatSourse = {
    "1": {
      name: "Вениамин Редакторович",
      status: "8 минут назад",
      avatar: "images/dest/avatar_4.jpg",
      message: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
    },

    "2": {
      name: "none",
      status: "5 минут назад",
      avatar: "images/dest/avatar_1.jpg",
      message: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
    },

    "3": {
      name: "Вениамин Редакторович",
      status: "5 минут назад",
      avatar: "images/dest/avatar_4.jpg",
      message: "Лады",
    },

    "4": {
      name: "none",
      status: "3 минуты назад",
      avatar: "images/dest/avatar_1.jpg",
      message: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
    },

    "5": {
      name: "Вениамин Редакторович",
      status: "Только что",
      avatar: "images/dest/avatar_4.jpg",
      message: "о_О",
    },
  }

.chatblock-body(class="p-5 tab-pane fade show" id="current-chat" role="tabpanel" aria-labelledby="current-chat-tab")
  each writer, index in chatSourse
    if writer.name == "none"
      .chatblock-message(class="mb-3 d-flex flex-row align-items-end justify-content-end")
        img.avatar(src= writer.avatar class="mr-3")
        .chatblock-message-body(class="bg-primary shadow-sm radius p-4")
          p(class="pb-2 m-0 border-bottom text-light")= writer.message
          p(class="pt-1 m-0 text-small text-gray-base")= writer.status
    else
      .chatblock-message(class="mb-3 d-flex flex-row align-items-end")
        img.avatar(src= writer.avatar class="mr-3")
        .chatblock-message-body(class="bg-light shadow-sm radius p-4")
          p(class="mb-1 text-dark text-bold")= writer.name
          p(class="pb-2 m-0 text-secondary border-bottom-light")= writer.message
          p(class="pt-1 m-0 text-small text-secondary")= writer.status