//- chatlist.pug
-
  let chats = {
    "11:45": [{
      name: "Вениамин Редакторович",
      lastMessage: "o_O",
      avatar: "images/dest/avatar_4.jpg",
    }],

    "10:12": [{
      name: "Джедай Падаванов",
      lastMessage: "Привет, скоро третий проект? Уже скоро надо...",
      avatar: "images/dest/avatar_2.jpg",
    }],

    "08:53": [{
      name: "Алексей Примадонин",
      lastMessage: "Тесты упали >_<",
      avatar: "images/dest/avatar_3.jpg",
    }],
  }

  findForm = {
    formName: "Чаты", 
    formText: "Поиск по сообщениям"
  }

if hexletSwitch == "chat.html"
  div(class="overflow-hidden bg-white px-4 pt-5 tab-pane fade" id="chats" role="tabpanel" aria-labelledby="chats-tab")
    include findform.pug
    ul(class="chatlist d-flex list-group mt-5")
      each time, index in chats
        each person in time
          a(href="#" class="chatlist-card px-3 d-flex flex-nowrap align-items-center border-left border-right border-bottom border-gray-base shadow-sm text-secondary reset text-decoration-none mb-3")
            img.avatar(src= person.avatar)
            div(class="p-4 overflow-hidden d-flex flex-grow-1 flex-shrink-1 flex-column")
              .d-flex
                h2(class="overflow-hidden one-stroke text-bold mb-0")= person.name
                p(class="one-stroke mb-0 ml-auto text-small")= index
              p(class="m-0 overflow-hidden one-stroke text-small")= person.lastMessage
if hexletSwitch == "index.html"
  div(class="overflow-hidden bg-white px-4 pt-5 tab-pane fade show active" id="chats" role="tabpanel" aria-labelledby="chats-tab")
    include findform.pug
    ul(class="chatlist d-flex list-group mt-5")
      each time, index in chats
        each person in time
          a(href="#" class="chatlist-card border-gray-base shadow-sm text-secondary text-decoration-none mb-3")
            img.avatar(src= person.avatar)
            div(class="p-4 overflow-hidden d-flex flex-grow-1 flex-shrink-1 flex-column")
              .d-flex
                h2(class="overflow-hidden one-stroke text-bold mb-0")= person.name
                p(class="one-stroke mb-0 ml-auto text-small")= index
              p(class="m-0 overflow-hidden one-stroke text-small")= person.lastMessage


