//- chatlist.pug
-
  let chats = {
    "11:45": [{
      name: "Вениамин Редакторович",
      lastMessage: "o_O",
      avatar: "images/dest/avatar_4.jpg",
    }],

    "10:12": [{
      name: "Джедай Падаванов",
      lastMessage: "Привет, скоро третий проект? Уже скоро надо...",
      avatar: "images/dest/avatar_2.jpg",
    }],

    "08:53": [{
      name: "Алексей Примадонин",
      lastMessage: "Тесты упали >_<",
      avatar: "images/dest/avatar_3.jpg",
    }],
  }

  findForm = {
    formName: "Чаты", 
    formText: "Поиск по сообщениям"
  }

if hexletSwitch == "chat.html"
  .chats(class="px-4 pt-5 tab-pane fade" id="chats" role="tabpanel" aria-labelledby="chats-tab")
    include findform.pug
    ul.chat-list(class="list-group mt-5")
      each val, index in chats
        each person in val
          a.chat-card(href="#" class="border-gray-base shadow-sm text-secondary reset text-decoration-none mb-3")
            img.avatar(src= person.avatar)
            .chat-body(class="d-flex flex-grow-1 flex-shrink-1 flex-column")
              .chat-title
                h2.chat-name(class="text-bold mb-0")= person.name
                p.chat-last-time(class="text-small")= index
              p.chat-last-message(class="text-small")= person.lastMessage
if hexletSwitch == "index.html"
  .chats(class="px-4 pt-5 tab-pane fade show active" id="chats" role="tabpanel" aria-labelledby="chats-tab")
    include findform.pug
    ul.chat-list(class="list-group mt-5")
      each val, index in chats
        each person in val
          a.chat-card(href="#" class="border-gray-base shadow-sm text-secondary text-decoration-none mb-3")
            img.avatar(src= person.avatar)
            .chat-body(class="d-flex flex-grow-1 flex-shrink-1 flex-column")
              .chat-title
                h2.chat-name(class="text-bold mb-0")= person.name
                p.chat-last-time(class="text-small")= index
              p.chat-last-message(class="text-small")= person.lastMessage


