//- chatblock-body.pug

-
  chatSourse = {
    "1": {
      name: "Вениамин Редакторович",
      status: "8 минут назад",
      avatar: "images/dest/avatar_4.jpg",
      message: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
    },

    "2": {
      name: "none",
      status: "5 минут назад",
      avatar: "images/dest/avatar_1.jpg",
      message: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
    },

    "3": {
      name: "Вениамин Редакторович",
      status: "5 минут назад",
      avatar: "images/dest/avatar_4.jpg",
      message: "Лады",
    },

    "4": {
      name: "none",
      status: "3 минуты назад",
      avatar: "images/dest/avatar_1.jpg",
      message: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
    },

    "5": {
      name: "Вениамин Редакторович",
      status: "Только что",
      avatar: "images/dest/avatar_4.jpg",
      message: "о_О",
    },
  }

div(class="position-sticky d-flex flex-row align-items-center overflow-hidden bg-white border-bottom shadow-none text-reset text-decoration-none radius-right-top-lg pl-3")
    img.avatar(src="images/dest/avatar_4.jpg")
    div(class="p-4 overflow-hidden d-flex flex-grow-1 flex-shrink-1 flex-column")
      h2(class="mb-1 one-stroke overflow-hidden font-weight-bold h6 mb-0") Вениамин Редакторович
      p(class="one-stroke m-0 overflow-hidden small text-secondary p-0") Онлайн
div(class="chatblock-body p-5")
  each writer, index in chatSourse
    if writer.name == "none"
      div(class="row chatblock-message mb-3 align-items-end justify-content-end")
        div(class="col-sm-12 col-lg-9 d-flex flex-row")
          img(src= writer.avatar class="avatar mr-3 d-none d-lg-block")
          div(class="bg-primary shadow-sm radius p-4")
            p(class="pb-2 m-0 border-bottom text-light")= writer.message
            p(class="pt-1 m-0 small text-gray-base")= writer.status
    else
      div(class="chatblock-message mb-3 align-items-end border-white")
        div(class="col-sm-12 col-lg-9 d-flex flex-row")
          img(src= writer.avatar class="avatar mr-3 d-none d-lg-block")
          div(class="bg-light shadow-sm radius p-4")
            p(class="mb-2 text-dark font-weight-bold h6")= writer.name
            p(class="pb-2 m-0 text-secondary border-bottom")= writer.message
            p(class="pt-1 m-0 small text-secondary")= writer.status
